body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  background-image: url("thunderstorm.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "ZCOOL XiaoWei", serif;
  width: 100%;
  min-height: 100vh;
}

canvas {
  margin: auto;
  display: block;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.custom-muted {
  color: #a2a2a2;
}

#portrait {
  position: relative;
  margin-top: 50px;
}
